<div class="bg-color-1 color-0">
    <div class="width-1480 ">
        <div class="picsum-img-wrapper">
            <img class="bg-img-about" />
          </div>
    </div>
</div>
<div class="width-1480 px-3 py-4">
    <h1 class="line-left-titles ps-3">{{ 'ABOUT.TITLE_ONE'|translate }}</h1>
    <div class="d-flex flex-xl-row flex-column my-4">
        <div class="p-2 p-xl-2">
            <p [innerHTML]="'ABOUT.PARAGRAPH_ONE'|translate"></p>
        </div>
        <div class="p-2 ps-xl-5">
            <p [innerHTML]="'ABOUT.PARAGRAPH_TWO'|translate"></p>
            <button type="button" class="btn btn-outline-primary mt-5" [routerLink]="['/contacto/']" fragment="ContactForm">{{ 'ABOUT.BUTTON_CONTACT'|translate }}</button>
        </div>
    </div>
    <h2 class="line-left-titles ps-3 my-5">Misiil Team</h2>
    <div class="container">

        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 mb-4 text-center">
                <img class="img-people" src="assets/img/about-us/milton.jpg" alt="">
                <div class="fs-3 mt-3">Milton Martínez</div>
                <div>CEO</div>
                
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4 text-center">
                <img class="img-people" src="assets/img/about-us/niko.jpg" alt="">
                <div class="fs-3 mt-3">Nicolas Martínez</div>
                <div>CBO</div>
                
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4 text-center">
                <img class="img-people" src="assets/img/about-us/walter.jpg" alt="">
                <div class="fs-3 mt-3">Walter Quintero</div>
                <div>Coordinador soporte técnico</div>
                
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4 text-center">
                <img class="img-people" src="assets/img/about-us/stiven.jpg" alt="">
                <div class="fs-3 mt-3">Stiven Salcedo</div>
                <div>Desarollador senior</div>
                
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4 text-center">
                <img class="img-people" src="assets/img/about-us/gio.jpg" alt="">
                <div class="fs-3 mt-3">Giovanny Gutiérrez</div>
                <div>Desarollador senior</div>
                
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4 text-center">
                <img class="img-people" src="assets/img/about-us/daivis.jpg" alt="">
                <div class="fs-3 mt-3">Daivis Zambrano</div>
                <div>Diseñador y desarrollador web</div>
                
            </div>
        </div>
    </div>

</div>