<div class="bg-color-1 color-0">
    <div class="width-1480 ">
        <div class="picsum-img-wrapper bg-general d-flex flex-column justify-content-center align-items-center text-center p-4">
            <p>{{ 'CONTACT.TITLE_ONE'| translate }}</p>
            <h1 class="text-uppercase">{{ 'CONTACT.TITLE_TWO'| translate }}</h1>
        </div>
    </div>
</div>
<div class="width-1480 px-3 py-4">
    <p class="mb-4">
        {{ 'CONTACT.PARAGRAPH_ONE'| translate }}
    </p>
    <form id="ValidationsForm" [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-12 col-sm-4 mb-3">
                <label for="name" class="form-label">{{ 'CONTACT.FORM_TITTLE_ONE'| translate }}</label>
                <input type="text" class="form-control" formControlName="firstname"
                    aria-describedby="nameHelp" [(ngModel)]="DataPost.CfName" required />
                <small class="valid-feedback"
                    *ngIf="!reactiveForm.get('firstname').invalid && reactiveForm.get('firstname').touched">{{ 'CONTACT.FORM_TITTLE_ALERT_ONE'| translate }}</small>
                <small class="invalid-feedback"
                    *ngIf="reactiveForm.get('firstname').touched && !reactiveForm.get('firstname').valid">{{ 'CONTACT.FORM_TITTLE_ALERT_TWO'| translate }}</small>
            </div>
            <div class="col-12 col-sm-4 mb-3">
                <label for="name" class="form-label">{{ 'CONTACT.FORM_TITTLE_TWO'| translate }}</label>
                <input type="text" class="form-control" formControlName="lastname"
                    aria-describedby="nameHelp" [(ngModel)]="DataPost.CfLastName"  />
                <small class="valid-feedback"
                    *ngIf="!reactiveForm.get('lastname').invalid && reactiveForm.get('lastname').touched">{{ 'CONTACT.FORM_TITTLE_ALERT_ONE'| translate }}</small>
                <small class="invalid-feedback"
                    *ngIf="reactiveForm.get('lastname').touched && !reactiveForm.get('lastname').valid">{{ 'CONTACT.FORM_TITTLE_ALERT_TWO'| translate }}</small>
            </div>
            <div class="col-12 col-sm-4 mb-3">
                <label for="name" class="form-label">{{ 'CONTACT.FORM_TITTLE_THREE'| translate }}</label>
                <input type="text" class="form-control" formControlName="NameCompany"
                    aria-describedby="nameHelp" [(ngModel)]="DataPost.CfCompany"  />
                <small class="valid-feedback"
                    *ngIf="!reactiveForm.get('NameCompany').invalid && reactiveForm.get('NameCompany').touched">{{ 'CONTACT.FORM_TITTLE_ALERT_ONE'| translate }}</small>
                <small class="invalid-feedback"
                    *ngIf="reactiveForm.get('NameCompany').touched && !reactiveForm.get('NameCompany').valid">{{ 'CONTACT.FORM_TITTLE_ALERT_TWO'| translate }}</small>
            </div>
            <div class="col-12 col-sm-6 mb-3">
                <label for="email" class="form-label">{{ 'CONTACT.FORM_TITTLE_FOUR'| translate }}</label>
                <input type="email" class="form-control" formControlName="email"
                    aria-describedby="emailHelp" [(ngModel)]="DataPost.CfEmail">
                <small class="valid-feedback"
                    *ngIf="!reactiveForm.get('email').invalid && reactiveForm.get('email').touched">{{ 'CONTACT.FORM_TITTLE_ALERT_ONE'| translate }}</small>
                <small class="invalid-feedback"
                    *ngIf="reactiveForm.get('email').touched && !reactiveForm.get('email').valid">{{ 'CONTACT.FORM_TITTLE_ALERT_THREE'| translate }}</small>
            </div>
            <div id="input-no-arrows" class="col-12 col-sm-6 mb-3">
                <label for="phone" class="form-label">{{ 'CONTACT.FORM_TITTLE_FIVE'| translate }}</label>
                <input type="number" class="form-control" formControlName="phonenumber"
                    aria-describedby="phoneHelp" [(ngModel)]="DataPost.CfTelephone">
                <small class="valid-feedback"
                    *ngIf="!reactiveForm.get('phonenumber').invalid && reactiveForm.get('phonenumber').touched">{{ 'CONTACT.FORM_TITTLE_ALERT_ONE'| translate }}</small>
                <small class="invalid-feedback"
                    *ngIf="reactiveForm.get('phonenumber').touched && !reactiveForm.get('phonenumber').valid">{{ 'CONTACT.FORM_TITTLE_ALERT_FOUR'| translate }}</small>
            </div>
            <div class="col-12 mb-3">
                <label for="comment" class="form-label">{{ 'CONTACT.FORM_TITTLE_SIX'| translate }}</label>
                <textarea class="form-control" formControlName="comments"
                    aria-describedby="commentHelp" [(ngModel)]="DataPost.CfComments"></textarea>
                <small class="valid-feedback"
                    *ngIf="!reactiveForm.get('comments').invalid && reactiveForm.get('comments').touched">{{ 'CONTACT.FORM_TITTLE_ALERT_ONE'| translate }}</small>
                <small class="invalid-feedback"
                    *ngIf="reactiveForm.get('comments').touched && !reactiveForm.get('comments').valid">{{ 'CONTACT.FORM_TITTLE_ALERT_FIVE'| translate }}</small>
            </div>
        </div>
        <p *ngFor="let alert of alerts">
            <ngb-alert [type]="alert.type" (closed)="close(alert)">{{ alert.message }}</ngb-alert>
          </p>        
        <button type="submit" class="btn btn-primary"
            [disabled]="!reactiveForm.valid">{{ 'CONTACT.BUTTON_TITTLE_ONE'| translate }}</button>
    </form>
</div>
