
<!-- <div class="bg-color-3 color-2 py-3 call-now zindex"></div> -->
<div class="bg-color-3 color-2 p-3">
    <div class="width-1480 d-flex justify-content-center align-items-center text-center">
        <a class="ps-3 link-color-2" href="tel:+17868149337">
            <fa-icon [icon]="faMobileScreenButton" [classes]="['animate__animated animate__tada animate__infinite']"></fa-icon>        
            <strong class="text-uppercase ms-3" [innerHTML]="'PRICES.TITLE_ONE'| translate"></strong>
        </a>        
    </div>
</div>
<div class="bg-color-1 color-0">
    <div class="width-1480 ">
        <div class="picsum-img-wrapper bg-general d-flex flex-column justify-content-center align-items-center text-center p-4">
            <p>{{ 'PRICES.TITLE_TWO'| translate }}</p>
            <h1 class="text-uppercase">{{ 'PRICES.TITLE_THREE'| translate }}</h1>
        </div>
    </div>
</div>
<div class="width-1480 px-3 py-5">
    <!-- PRICING PLANS -->
    <section class="pricing-plans">
        <!-- Pricing Tables -->
        <div class="pricing-tables">
            <!-- Plan Features -->

            <!-- "Basic" Plan -->
            <div class="pricing-plan animate__animated animate__fadeIn animate__delay-200ms">
                <h2 class="plan-title">Agencia</h2>
                <div class="plan-cost">
                    <p class="plan-price">$50<sup class="fs-6">USD</sup></p>
                    <p class="plan-type mt-3">{{ 'PRICES.AGENCY_TITLE_ONE'| translate }}</p>
                </div>
                <ul class="plan-features">
                    <li>{{ 'PRICES.AGENCY_TITLE_TWO'| translate }}</li>
                    <li>{{ 'PRICES.AGENCY_TITLE_THREE'| translate }}<fa-icon [icon]="faStar"
                            [classes]="['ms-2 animate__animated animate__pulse animate__delay-2s animate__repeat-3']">
                        </fa-icon>
                    </li>
                    <li>{{ 'PRICES.AGENCY_TITLE_FOUR'| translate }}<br><small>Email</small><small class="ms-2">{{
                            'PRICES.AGENCY_TITLE_FIVE'| translate }}</small></li>
                    <li>{{ 'PRICES.AGENCY_TITLE_SIX'| translate }} (1)</li>
                    <li>{{ 'PRICES.AGENCY_TITLE_SEVEN'| translate }} (3)</li>
                    <li>{{ 'PRICES.AGENCY_TITLE_EIGHT'| translate }}</li>
                    <li>{{ 'PRICES.AGENCY_TITLE_NINE'| translate }}</li>
                    <li>
                        <div class="no-add">{{ 'PRICES.AGENCY_TITLE_TEN'| translate }}</div>
                    </li>
                    <li>
                        <div class="no-add">{{ 'PRICES.AGENCY_TITLE_ELEVEN'| translate }}</div>
                    </li>
                    <li>
                        <div class="no-add">{{ 'PRICES.AGENCY_TITLE_TWELVE'| translate }}</div>
                    </li>
                </ul>
                <!-- <a class="btn-plan" href="">Seleccionar</a> -->
            </div>
            <!-- "standar" Plan -->
            <div
                class="pricing-plan featured-plan animate__animated animate__bounceIn animate__slow animate__delay-400ms">

                <div class="featured-ribbon">Recomendada</div>
                <h2 class="plan-title">Casillero plus</h2>
                <div class="plan-cost">
                    <p class="plan-price">$170<sup class="fs-6">USD</sup></p>
                    <p class="plan-type mt-3">{{ 'PRICES.AGENCY_TITLE_ONE'| translate }}</p>
                </div>
                <ul id="standar-price" class="plan-features">
                    <li>{{ 'PRICES.AGENCY_TITLE_TWO'| translate }}</li>
                    <li>{{ 'PRICES.AGENCY_TITLE_THREE'| translate }}<fa-icon [icon]="faStar"
                            [classes]="['ms-2 animate__animated animate__pulse animate__delay-2s animate__repeat-3']">
                        </fa-icon>
                    </li>
                    <li>{{ 'PRICES.AGENCY_TITLE_FOUR'| translate }}<br><small>Email</small><small class="ms-2">{{
                            'PRICES.AGENCY_TITLE_FIVE'| translate }}</small></li>
                    <li>{{ 'PRICES.AGENCY_TITLE_SIX'| translate }} (1)</li>
                    <li>{{ 'PRICES.AGENCY_TITLE_SEVEN'| translate }} (5)</li>
                    <li>{{ 'PRICES.AGENCY_TITLE_EIGHT'| translate }}</li>
                    <li>{{ 'PRICES.AGENCY_TITLE_NINE'| translate }}</li>
                    <li>{{ 'PRICES.AGENCY_TITLE_TEN'| translate }}</li>
                    <li>
                        <div class="no-add">{{ 'PRICES.AGENCY_TITLE_ELEVEN'| translate }}</div>
                    </li>
                    <li>
                        <div class="no-add">{{ 'PRICES.AGENCY_TITLE_TWELVE'| translate }}</div>
                    </li>
                </ul>
                <!-- <a class="btn-plan cta" href="">Seleccionar</a> -->

            </div>
            <!-- "other" Plan -->
            <div class="pricing-plan animate__animated animate__fadeIn animate__delay-600ms">
                <h2 class="plan-title">Estándar</h2>
                <div class="plan-cost">
                    <p class="plan-price">$370<sup class="fs-6">USD</sup></p>
                    <p class="plan-type mt-3">{{ 'PRICES.AGENCY_TITLE_ONE'| translate }}</p>
                </div>
                <ul class="plan-features">
                    <li>{{ 'PRICES.AGENCY_TITLE_TWO'| translate }}</li>
                    <li>{{ 'PRICES.AGENCY_TITLE_THREE'| translate }}<fa-icon [icon]="faStar"
                            [classes]="['ms-2 animate__animated animate__pulse animate__delay-2s animate__repeat-3']">
                        </fa-icon>
                    </li>
                    <li>{{ 'PRICES.AGENCY_TITLE_FOUR'| translate }}<br><small>Email</small><small class="ms-2">{{
                            'PRICES.AGENCY_TITLE_FIVE'| translate }}</small></li>
                    <li>{{ 'PRICES.AGENCY_TITLE_SIX'| translate }} (7)</li>
                    <li>{{ 'PRICES.AGENCY_TITLE_SEVEN'| translate }} (30)</li>
                    <li>{{ 'PRICES.AGENCY_TITLE_EIGHT'| translate }}</li>
                    <li>{{ 'PRICES.AGENCY_TITLE_NINE'| translate }}</li>
                    <li>{{ 'PRICES.AGENCY_TITLE_TEN'| translate }}</li>
                    <li>{{ 'PRICES.AGENCY_TITLE_ELEVEN'| translate }}</li>
                    <li>
                        <div class="no-add">{{ 'PRICES.AGENCY_TITLE_TWELVE'| translate }}</div>
                    </li>
                </ul>
                <!-- <a class="btn-plan" href="">Seleccionar</a> -->
            </div>
            <!-- "corp" Plan -->
            <div class="pricing-plan animate__animated animate__fadeIn animate__delay-800ms">
                <h2 class="plan-title">Corporativo</h2>
                <div class="plan-cost position-relative">
                    <p class="text-from">Desde</p>
                    <p class="plan-price">$750<sup class="fs-6">USD</sup></p>
                    <p class="plan-type mt-3">{{ 'PRICES.AGENCY_TITLE_ONE'| translate }}</p>
                </div>
                <ul class="plan-features">
                    <li>{{ 'PRICES.AGENCY_TITLE_TWO'| translate }}</li>
                    <li>{{ 'PRICES.AGENCY_TITLE_THREE'| translate }}<fa-icon [icon]="faStar"
                            [classes]="['ms-2 animate__animated animate__pulse animate__delay-2s animate__repeat-3']">
                        </fa-icon>
                    </li>
                    <li>{{ 'PRICES.AGENCY_TITLE_FOUR'| translate }}<br><small>Email</small><small class="ms-2">{{
                            'PRICES.AGENCY_TITLE_FIVE'| translate }}</small></li>
                    <li>{{ 'PRICES.AGENCY_TITLE_SIX'| translate }} ({{ 'PRICES.TABLE_TITLE_THREE'| translate }})</li>
                    <li>{{ 'PRICES.AGENCY_TITLE_SEVEN'| translate }} ({{ 'PRICES.TABLE_TITLE_THREE'| translate }})</li>
                    <li>{{ 'PRICES.AGENCY_TITLE_EIGHT'| translate }}</li>
                    <li>{{ 'PRICES.AGENCY_TITLE_NINE'| translate }}</li>
                    <li>{{ 'PRICES.AGENCY_TITLE_TEN'| translate }}</li>
                    <li>{{ 'PRICES.AGENCY_TITLE_ELEVEN'| translate }}</li>
                    <li>{{ 'PRICES.AGENCY_TITLE_TWELVE'| translate }}</li>
                </ul>
                <!-- <a class="btn-plan" href="">Seleccionar</a> -->
            </div>
        </div>
    </section>
    <div class="my-5">
        <h2 class="line-left-titles ps-3 mb-3 text-uppercase"></h2>
        <p [innerHTML]="'PRICES.PARAGRAPH_ONE'| translate"></p>
    </div>


    <div id="table-prices-align-content" class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col" class="with-20-porcentage">#</th>
                    <th scope="col" class="with-20-porcentage">Agencia</th>
                    <th scope="col" class="with-20-porcentage">Casillero&nbsp;plus</th>
                    <th scope="col" class="with-20-porcentage">Estándar</th>
                    <th scope="col" class="with-20-porcentage">Corporativo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">{{ 'PRICES.TABLE_TITLE_EIGHT'| translate }}</th>
                    <td>50 USD</td>
                    <td>170 USD</td>
                    <td>370 USD</td>
                    <td><small>{{ 'PRICES.TABLE_TITLE_ONE'| translate }},</small> 750 USD</td>
                </tr>
                <tr>
                    <th scope="row">{{ 'PRICES.TABLE_TITLE_NINE'| translate }}</th>
                    <td colspan="3">150 USD<sup><a [routerLink]="['/precios/']" fragment="InitialSetup-1">1</a></sup>
                    </td>
                    <td>{{ 'PRICES.TABLE_TITLE_TWO'| translate }}</td>
                </tr>
                <tr>
                    <th scope="row">{{ 'PRICES.TABLE_TITLE_TEN'| translate }}</th>
                    <td>1</td>
                    <td>1</td>
                    <td>7</td>
                    <td>{{ 'PRICES.TABLE_TITLE_THREE'| translate }}</td>

                </tr>
                <tr>
                    <th scope="row">{{ 'PRICES.TABLE_TITLE_ELEVEN'| translate }}</th>
                    <td>3</td>
                    <td>5</td>
                    <td>30</td>
                    <td>{{ 'PRICES.TABLE_TITLE_THREE'| translate }}</td>
                </tr>
                <tr>
                    <th scope="row">{{ 'PRICES.TABLE_TITLE_TWELVE'| translate }}</th>
                    <td colspan="4">{{ 'PRICES.TABLE_TITLE_THREE'| translate }}<sup><a [routerLink]="['/precios/']" fragment="Transactions-2">2</a></sup>
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ 'PRICES.TABLE_TITLE_THIRTEEN'| translate }}</th>
                    <td colspan="4">{{ 'PRICES.TABLE_TITLE_FOUR'| translate }}</td>
                </tr>
                <tr>
                    <th scope="row"><a class='link-color-gray-body' [routerLink]="['/modulos/mensajeria/']">{{ 'PRICES.TABLE_TITLE_FOURTEEN'| translate }}</a></th>
                    <td>
                        <fa-icon [icon]="faCheckDouble"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckDouble"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckDouble"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckDouble"></fa-icon>
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ 'PRICES.TABLE_TITLE_FIVETEEN'| translate }}</th>
                    <td>
                        <fa-icon [icon]="faCheckDouble"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckDouble"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckDouble"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckDouble"></fa-icon>
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ 'PRICES.TABLE_TITLE_SIXTEEN'| translate }}</th>
                    <td>
                        <fa-icon [icon]="faCheckDouble"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckDouble"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckDouble"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckDouble"></fa-icon>
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ 'PRICES.TABLE_TITLE_SEVENTEEN'| translate }}</th>
                    <td>
                        <fa-icon [icon]="faCheckDouble"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckDouble"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckDouble"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckDouble"></fa-icon>
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ 'PRICES.TABLE_TITLE_EIGHTEEN'| translate }}</th>
                    <td>
                        <fa-icon [icon]="faCheckDouble"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckDouble"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckDouble"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckDouble"></fa-icon>
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ 'PRICES.TABLE_TITLE_NINETEEN'| translate }}</th>
                    <td>
                        <fa-icon [icon]="faCheck" [classes]="['ml-icon-sup']"></fa-icon><sup><a
                                [routerLink]="['/precios/']" fragment="Reports-3">3</a></sup>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckDouble"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckDouble"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckDouble"></fa-icon>
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ 'PRICES.TABLE_TITLE_TWENTY'| translate }}</th>
                    <td>
                        <fa-icon [icon]="faCheck" [classes]="['ml-icon-sup']"></fa-icon><sup><a
                                [routerLink]="['/precios/']" fragment="AccountingAgency-4">4</a></sup>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheck" [classes]="['ml-icon-sup']"></fa-icon><sup><a
                                [routerLink]="['/precios/']" fragment="AccountingPoboxPlus-5">5</a></sup>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckDouble"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckDouble"></fa-icon>
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ 'PRICES.TABLE_TITLE_TWENTYONE'| translate }}</th>
                    <td>
                        <fa-icon [icon]="faCheck" [classes]="['ml-icon-sup']"></fa-icon><sup><a
                                [routerLink]="['/precios/']" fragment="CustomsAgency-6">6</a></sup>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckDouble" [classes]="['ml-icon-sup']"></fa-icon><sup><a
                                [routerLink]="['/precios/']" fragment="Customs234-7">7</a></sup>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckDouble"></fa-icon><sup><a [routerLink]="['/precios/']"
                                fragment="Customs234-7">7</a></sup>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckDouble"></fa-icon><sup><a [routerLink]="['/precios/']"
                                fragment="Customs234-7">7</a></sup>
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ 'PRICES.TABLE_TITLE_TWENTYTWO'| translate }}</th>
                    <td>
                        <fa-icon [icon]="faCheck" [classes]="['ml-icon-sup']"></fa-icon><sup><a
                                [routerLink]="['/precios/']" fragment="IframesAgency-8">8</a></sup>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckDouble" [classes]="['ml-icon-sup']"></fa-icon><sup><a
                                [routerLink]="['/precios/']" fragment="Iframes234-9">9</a></sup>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckDouble" [classes]="['ml-icon-sup']"></fa-icon><sup><a
                                [routerLink]="['/precios/']" fragment="Iframes234-9">9</a></sup>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckDouble" [classes]="['ml-icon-sup']"></fa-icon><sup><a
                                [routerLink]="['/precios/']" fragment="Iframes234-9">9</a></sup>
                    </td>
                </tr>                
                <tr>
                    <th scope="row">{{ 'PRICES.TABLE_TITLE_TWENTYTHREE'| translate }}</th>
                    <td>
                        <fa-icon [icon]="faXmark"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckDouble" [classes]="['ml-icon-sup-2']"></fa-icon><sup><a
                                [routerLink]="['/precios/']" fragment="AppCompany2-10">10</a></sup>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckDouble" [classes]="['ml-icon-sup-2']"></fa-icon><sup><a
                                [routerLink]="['/precios/']" fragment="AppCompany34-11">11</a></sup>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckDouble" [classes]="['ml-icon-sup-2']"></fa-icon><sup><a
                                [routerLink]="['/precios/']" fragment="AppCompany34-11">11</a></sup>
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ 'PRICES.TABLE_TITLE_TWENTYFOUR'| translate }}<sup><a [routerLink]="['/precios/']" fragment="Pbox-12">12</a></sup></th>
                    <td>
                        <fa-icon [icon]="faXmark"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckDouble"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckDouble"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckDouble"></fa-icon>
                    </td>
                </tr>
                <!-- <tr>
                    <th scope="row">Manifiestos</th>
                    <td>
                        <fa-icon [icon]="faXmark"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckDouble"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckDouble"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckDouble"></fa-icon>
                    </td>
                </tr> -->
                <!-- <tr>
                    <th scope="row">Recogidas</th>
                    <td>
                        <fa-icon [icon]="faXmark"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckDouble"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckDouble"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckDouble"></fa-icon>
                    </td>
                </tr> -->
                <tr>
                    <th scope="row">{{ 'PRICES.TABLE_TITLE_TWENTYFIVE'| translate }}</th>
                    <td>
                        <fa-icon [icon]="faXmark"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckDouble"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckDouble"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckDouble"></fa-icon>
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ 'PRICES.TABLE_TITLE_TWENTYSIX'| translate }}</th>
                    <td>
                        <fa-icon [icon]="faXmark"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faXmark"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckDouble"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckDouble"></fa-icon>
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ 'PRICES.TABLE_TITLE_TWENTYSEVEN'| translate }}</th>
                    <td>
                        <fa-icon [icon]="faXmark"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faXmark"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckDouble"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckDouble"></fa-icon>
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ 'PRICES.TABLE_TITLE_TWENTYEIGHT'| translate }}</th>
                    <td>
                        <fa-icon [icon]="faXmark"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faXmark"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faXmark"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckDouble"></fa-icon>
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ 'PRICES.TABLE_TITLE_TWENTYNINE'| translate }}</th>
                    <td>
                        <fa-icon [icon]="faXmark"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faXmark"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faXmark"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckDouble"></fa-icon>
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ 'PRICES.TABLE_TITLE_THIRTY'| translate }}</th>
                    <td>
                        <fa-icon [icon]="faXmark"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faXmark"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faXmark"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckDouble"></fa-icon>
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ 'PRICES.TABLE_TITLE_THIRTYONE'| translate }}</th>
                    <td>
                        <fa-icon [icon]="faXmark"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faXmark"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faXmark"></fa-icon>
                    </td>
                    <td>{{ 'PRICES.TABLE_TITLE_FIVE'| translate }}</td>
                </tr>
                <tr>
                    <th scope="row">{{ 'PRICES.TABLE_TITLE_THIRTYTWO'| translate }}</th>
                    <td>
                        <fa-icon [icon]="faXmark"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faXmark"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faXmark"></fa-icon>
                    </td>
                    <td>{{ 'PRICES.TABLE_TITLE_FIVE'| translate }}</td>
                </tr>
                <tr>
                    <th scope="row">{{ 'PRICES.TABLE_TITLE_THIRTYTHREE'| translate }}</th>
                    <td colspan="4">{{ 'PRICES.TABLE_TITLE_SIX'| translate }}<sup><a [routerLink]="['/precios/']" fragment="IntegrationsMisiil-13">13</a></sup> {{ 'PRICES.TABLE_TITLE_SEVEN'| translate }}<sup><a [routerLink]="['/precios/']" fragment="Integrations3ro-14">14</a></sup></td>
                </tr>
            </tbody>
        </table>
    </div>
    <h2 class="line-left-titles ps-3 my-4">Notas</h2>
    <ol class="list-group list-group-numbered">
        <li id="InitialSetup-1" class="list-group-item">{{ 'PRICES.NOTES_PARAGRAPH_ONE'| translate }}</li>
        <li id="Transactions-2" class="list-group-item">{{ 'PRICES.NOTES_PARAGRAPH_TWO'| translate }}</li>
        <li id="Reports-3" class="list-group-item" [innerHTML]="'PRICES.NOTES_PARAGRAPH_THREE'| translate"></li>
        <li id="AccountingAgency-4" class="list-group-item" [innerHTML]="'PRICES.NOTES_PARAGRAPH_FOUR'| translate"></li>
        <li id="AccountingPoboxPlus-5" class="list-group-item" [innerHTML]="'PRICES.NOTES_PARAGRAPH_FIVE'| translate"></li>
        <li id="CustomsAgency-6" class="list-group-item" [innerHTML]="'PRICES.NOTES_PARAGRAPH_SIX'| translate"></li>
        <li id="Customs234-7" class="list-group-item" [innerHTML]="'PRICES.NOTES_PARAGRAPH_SEVEN'| translate"></li>
        <li id="IframesAgency-8" class="list-group-item" [innerHTML]="'PRICES.NOTES_PARAGRAPH_EIGHT'| translate"></li>
        <li id="Iframes234-9" class="list-group-item" [innerHTML]="'PRICES.NOTES_PARAGRAPH_NINE'| translate"></li>
        <li id="AppCompany2-10" class="list-group-item" [innerHTML]="'PRICES.NOTES_PARAGRAPH_TEN'| translate"></li>
        <li id="AppCompany34-11" class="list-group-item" [innerHTML]="'PRICES.NOTES_PARAGRAPH_ELEVEN'| translate"></li>
        <li id="Pbox-12" class="list-group-item">{{ 'PRICES.NOTES_PARAGRAPH_TWELVE'| translate }}</li>
        <li id="IntegrationsMisiil-13" class="list-group-item">{{ 'PRICES.NOTES_PARAGRAPH_THIRTEEN'| translate }}</li>
        <li id="Integrations3ro-14" class="list-group-item">{{ 'PRICES.NOTES_PARAGRAPH_FOURTEEN'| translate }}</li>
    </ol>
</div>